/Gemfile.lock
/*.gem

/gemfiles/.bundle/
/gemfiles/*.gemfile.lock

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/tmp/
/log

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Vagrant stuff
*-cloudimg-console.log
/.vagrant
